/* Home.css */
.home-container {
    width: 100%;
    min-height: 100vh; /* Asegúrate de que el contenedor ocupe toda la altura de la pantalla */
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../assets/unach_edificio.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    color: #fff; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Agrega un poco de espacio alrededor */
}

.home-title {
    font-size: 2rem; /* Tamaño de fuente grande para el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.btn-logout {
    margin-bottom: 30px; /* Espacio debajo del botón de logout */
    padding: 10px 20px; /* Espacio dentro del botón */
    font-size: 1rem; /* Tamaño de fuente del botón */
    border-radius: 5px; /* Bordes redondeados */
}

.button-container {
    display: flex; /* Utiliza flexbox para alinear los botones en línea */
    gap: 15px; /* Espacio entre los botones */
}

.btn-secondary {
    padding: 10px 20px; /* Espacio dentro de los botones */
    font-size: 1rem; /* Tamaño de fuente del botón */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #0d6efd; /* Color de fondo de los botones */
    color: white; /* Color de texto de los botones */
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-secondary:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    .home-title {
        font-size: 1.5rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .btn-logout, .btn-secondary {
        width: 100%; /* Hacer los botones del 100% del ancho en pantallas pequeñas */
    }
}
